<p-toast></p-toast>
<div class="flex w-full justify-content-center">
  <div class="flex justify-content-center col-3">
    <p-inputGroup>
      <input pInputText [(ngModel)]="token"/>
      <button type="button" pButton label="Save" [outlined]="true" (click)="saveToken()"></button>
    </p-inputGroup>
</div>


</div>
<div class="mx-8 main-container align-items-center align-content-center">

    <p-tree class="bg-surface-b" layout="horizontal" [value]="values">
      <ng-template let-node pTemplate="default">
        <div class="flex flex-row align-items-center justify-content-center gap-3">
          <div class="">
            {{ node.label }}
          </div>

          @if(node.isOnline){
            <p-button severity="success" label="Online" size="small" (click)="toggleService(node.data)"></p-button>
          }
          @else{
            <p-button severity="danger" label="Offline" size="small" (click)="toggleService(node.data)"></p-button>
          }

        </div>
      </ng-template>
    </p-tree>


</div>


