<div class="mx-8 main-container align-items-center align-content-center">

    <p-tree class="bg-surface-b" layout="horizontal" [value]="values">
      <ng-template let-node pTemplate="default">
        <div class="flex flex-row align-items-center justify-content-center gap-3">
          <div class="">
            {{ node.label }}
          </div>

          @if(node.isOnline){
            <p-button severity="success" label="Online" size="small" (click)="toggleService(node.isOnline)"></p-button>
          }
          @else{
            <p-button severity="danger" label="Offline" size="small" (click)="toggleService(node.isOnline)"></p-button>
          }

        </div>
      </ng-template>
    </p-tree>


</div>


